*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------
           Section Top
              ------------------ */
.top{
    margin: 50px 140px;
}
.top-container {
    display: flex;
    align-items: center;
    background-color: black;
    color: #fff;
    padding: 0 100px;
    border-radius: 10px;
}
.fa-angle-right{
    margin-left: 8px;
}
.half{
   width: 50%;
}
 .half h1{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 3.5rem;
    margin-bottom: 20px;
 }
 .half p{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
 }
 .half img{
    width: 100%;
 }
 .top-btn{
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    background-color: rgb(255, 98, 0);
    border-radius: 8px;
    font-weight: bold;
 }
 .top-btn:hover{
    border: 2px solid red;
    background-color: #fff;
    color: black;
    transition: border .5s ease-in-out;

 }
/*------------
          Section Mid
              ---------------*/
.mid{
    margin: 50px 133px;
}
.link-site{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 252px;
    width: 252px;
    margin: 10px;
}
.mid-btn{
    font-family: 'Baloo Bhai 2', cursive;
    background-color: #fff;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.mid-btn:hover{
    background-color: gray;
    color: rgb(239, 228, 228);
}
.bg{
    background-color:rgb(255, 98, 0);
    color: #fff;
}
.mid-container{
    display: flex;
}
.blog-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.card{
    font-family: 'Poppins', sans-serif;
    width: 260px;
    height: 330px;
    margin: 12px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px black;
}
.card .player{
    width: 100%;
    margin-bottom: 15px;
}
.blog-btn{
    border: 1px solid black;
    text-align: center;
    color: black;
    padding: 5px 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    margin: 15px;
}
.blog-info{
    margin: 18px;
}
span{
    padding: 12px;
}
.icon-size{
    width: 18px;
}
/*------------------ 
             Footer section 
                     -----------------*/
footer{
    height: 400px;
    background-color: black;
}
.goal{ 
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
    color: #fff;
    text-align: center;
    padding: 115px 0 50px;
}
.last-link{
    margin-top: 30px;
}
.last-link ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.last-link ul li{
        list-style: none;
        padding: 10px 30px;
}
.last-link ul li::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.last-link ul li:hover::after{
    width: 100%;
}
.last-link ul li a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fff;
}
hr{
    border:1px solid rgba(254, 252, 252, 0.814);
    margin: 0 40px;
    
}
.social{
    margin-top: 30px;
    padding: 0 8px;
    text-align: center;
}
.fa-brands{
    color: #fff;
    padding: 0 8px;
    font-size: 20px;
}

/*--------- 
              Mobile use 
                        ------------*/
@media only screen and  (max-width:600px){
   .top{
    margin: 2px 5px;
    width: 100%;
   }
   .top-container{
    font-size: 1rem;
    flex-direction: column;
   }
   .half{
    width: 100%;
    margin: 10px;
   }
   .half h1{
    font-size: 35px;
   }
   .half p{
    font-size: 10px;
   }
   .mid{
    width: 100%;
    margin: auto;
   }
   .mid-container{flex-direction: column;
}
   .blog-container{
    width: 100%;
    grid-template-columns: repeat(1,1fr);
   }
   .link-site{
    background: none;
    width: 100%;
   }
   .mid-btn{
    border: 1px solid black;
   }
   .bg{
    border: none;
   }
   .card{
    padding: 22px;
    width: 100%;
    height: 100%;
    margin:5px;
   }
  .card .player{
    width: 100%;
   }
   .card p{width: 100%;}
   .card .blog-info{
       width: 100%;
   }
   footer{
    width: 100%;
    height: 100%;
   }
   .social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .fa-brands{
    margin-bottom: 14px;
   }
   .last-link ul{
    flex-direction: column;
   }
}
/*--------- 
              Tablets use 
                        ------------*/
@media only screen and (min-width: 601px) and (max-width:768px){
    .top{
        margin: 45px 25px;
    }
    .top-container{
        padding: 30px;
        height: 100%;
    }
    .half h1{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .half p{
        font-size: 14px;
        margin-bottom: 40px;
    }
    .link-site{
        flex-direction: row;
        width:100%;
        height: 80px;
        margin: 2px;
        background: none;
    }
    .mid{
        margin: 20px 45px;
    }
    .mid-btn{
        width: 153px;
        font-size: 15px;
        padding: 16px;
        border: 1px solid rgba(211, 211, 211, 0.817);
    }
    .card{
        width: 90%;
        margin: 10px;
    }
    .mid-container{
        flex-direction: column;
    }
    .blog-container{
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;

    }
    .hide{
        display: none;
    }
    .last-link ul{
       flex-wrap: wrap;
    }
}